<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">My Blog</h1>
    <p class="lead blog-description">This is a live blog where site admins can create and publish blogs. All users are allowed to comment on any blog.</p>
    <span>
      <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>
    </span>
    
    <span>
      <%= link_to "Topics", topics_path %>
    </span>
  </div>
</div>