<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">Below is where I'll be putting projects I've worked on. Right now, a lot of them are going to be empty, and are filled with sample data I generated. I'll just leave 'em there because I think it looks nice.</p>
    <p>
      <%= link_to 'Find Out More About Me', about_path, class: 'btn btn-outline-secondary btn-block' %>
    </p>
  </div>
</section>