<h1>About Me</h1>
<hr>
<p>Hey, my name is Ryan Andersen (if you hadn't already noticed), and this is a website I built for <strong><a href="https://devcamp.com/">DevCamp</a></strong> to use as a resume. I'm a software developer with experience in Ruby on Rails and Windows applications written in C#. Head on over to <strong><%=link_to 'portfolios', portfolios_path %></strong> to see the applications I've worked on, or visit my <strong><a href="https://github.com/WizardRyan">GitHub</a></strong> to see what I've been up to.</p>
<p>Thanks for visiting my site!</p>