<div class="app-card-container">
  <div class="card">
    <h1>Contact Me</h1>
    <hr>
    <div class="row">
      <div class="col-md-6">
        
        <p id="contact-link">Email me at: <a href="mailto:ryan.andersen117@gmail.com?subject=ResumeContact"><em>ryan.andersen117@gmail.com</em></a> </p>
        <p>Call or text: <%= number_to_phone "8014000671" %></p>
        <p>Mailing Address: 1285 Heritage Circle, Alpine, Utah</p>
        
      </div>
      <div class="col-md-4">
        
      <iframe align="center" 
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3035.2350661508895!2d-111.77272598433522!3d40.470064360317416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87527f370044d3b9%3A0x32a78b694fecb6ee!2s1285+Heritage+Cir%2C+Alpine%2C+UT+84004!5e0!3m2!1sen!2sus!4v1499791281807" 
      width="450" 
      height="450" 
      frameborder="0" 
      style="border:0"
      allowfullscreen></iframe>
        
      </div>
    </div>
    
  </div>
</div>
