 <div class="inner cover welcome card">
    <h1 class="cover-heading">Welcome.</h1>
    <p class="lead bed"><em>"You can mass produce hardware; you cannot mass produce software—you cannot mass produce the human mind." </em> <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwiAiIqyzIHVAhUQ5mMKHcHQADcQFggoMAA&url=http%3A%2F%2Fmkaku.org%2F&usg=AFQjCNGh-nLTAbCMot9XonvPDapwxKQRRQ">- Michio Kaku </a></p>
    <p class="lead">
      <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary welcome-btn" %>
    </p>
  </div>
