@import "bootstrap";
@import 'jquery-ui';
@import 'gritter';

body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
  font-family: "Roboto", Times, serif;
  font-weight: 100;
}


.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 100;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 100;
}
.card {
  float: left;
  width: 100%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/*********Custom*********/

p {
  font-weight: 100;
}

/* change the background color */
.navbar-custom {
    background-color: #212529;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.navbar-toggler{
  padding: 0px;
  //background-color: #868e96;
  background-color: #eaebed;
  border-style: solid;
  border-color: #727b84;
  //border-width: 3px;
  height: 35px;
  width: 60px;
  text-align: center;
  
}

.nav-bars{
  text-align: center;
  color: #5c5d5e;
  font-size: 1.2em;
}

.portfolio-container{
  padding-top: 30px;
}

.lead{
  font-weight: 40;
}